.paginationBtns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBtns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px sild #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBtns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginatioActive a{
    color: white;
    background-color: #2b2eff;
  }